.Home {
    &__search {
        position: relative;
        display: flex;

        &-input {
            width: 100%;
            font-size: 1rem;
            padding: 0.5rem 2.2rem 0.5rem 1rem;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
        }

        &-icon {
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: calc(50% - 25%);
            right: 1rem;
        }
    }

    &__list {
        &-item {
            width: 100%;
            font-size: 1rem;
            padding: 0.5rem 2.2rem 0.5rem 1rem;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
        }
    }
}
