@import "../../styles/theme";

.Card {
    &__back-button {
        background-color: $theme-color-4;
        border-radius: 0.5rem;
        padding: 0.5rem 0.7rem;
        display: inline-block;
        line-height: 1.2;

        &:hover {
            color: inherit;
        }

        &:active {
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
        }
    }

    &__wrapper {
        background-color: $theme-color-4;
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
    }

    &__user {
        display: flex;
        flex-direction: column;
        width: 20%;
        flex-shrink: 0;
        justify-content: center;

        &-img {
            border-radius: 50%;
            width: 100%;
        }

        &-name {
            margin: 1rem auto auto;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    &__name {
        font-size: 1.5rem;
        font-weight: bolder;
        margin: 0;
    }

    &__info {
        margin-left: 1rem;

        &-section {
            margin: 0.7rem 0 0;
        }

        &-date {
            margin-left: 1rem;
        }
    }
}
